

.searchresult-term{
       margin: 1em 0em;
}
.searchresult-term-text{
     font-family: "Merriweather", serif;
      
     font-size: 1.5em;
}

.searchresult-term-shortdescription{
       margin: 0.5em 0em 0em 1em;
      color: #707070;
    }